*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  align-items: center;
  background-color: #EDEDED;
  /* border: 2px solid red; */
  color: #e1e1e1;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}

.main-app{
  align-items: center;
  /* border: 4px solid wheat; */
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.container{
  align-items: center;
  background-color: #071D41;
  border-radius: 12px;
  display: flex;
  /* border: 2px solid green; */
  flex-direction: column;
  justify-content: center;
  width: 27vw;
  height: 35vh;
}

.container form{
  align-items: center;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  width: 80%;
}

.container form label{
  /* border: 1px solid yellowgreen; */
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 5px;
  padding: 6px 6px;
  width: 80%;

}

.container form select{
  background-color: #e1e1e1;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  color: #1e1e1e;
  font-size: 1.2rem;
  margin: 5px 0 20px;
  outline: none;
  padding: 6px 0;
  width: 90%;

}

.container form select:focus-visible{
  outline: dotted 1px rgba(255, 255, 255, 0.4);

}
